In [1]:
import pandas as pd
#from pandas import read_csv
#from pandas import read_excel

In [2]:
# load python using pandas
filename = 'pima-indians-diabetes.data.csv'

In [3]:
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_csv(filename, names=defined_names)
data.shape

(768, 9)

In [4]:
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [5]:
data.describe()

,preg,plas,pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
# reading data from the web / cloud
data = pd.read_csv('http://winterolympicsmedals.com/medals.csv')
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [10]:
# This program shows that read_table does not read the data from a csv file if delimiter ',' is not given
import pandas as pd
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_table(filename,names=defined_names)
data

,preg,plas,pres,skin,test,mass,pedi,age,class
0,"6,148,72,35,0,33.6,0.627,50,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"1,85,66,29,0,26.6,0.351,31,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"8,183,64,0,0,23.3,0.672,32,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1,89,66,23,94,28.1,0.167,21,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"0,137,40,35,168,43.1,2.288,33,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
763,"10,101,76,48,180,32.9,0.171,63,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
764,"2,122,70,27,0,36.8,0.340,27,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
765,"5,121,72,23,112,26.2,0.245,30,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766,"1,126,60,0,0,30.1,0.349,47,1",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
767,"1,93,70,31,0,30.4,0.315,23,0",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# load python using pandas
import pandas as pd
filename = 'pima-indians-diabetes.data.csv'
defined_names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
data = pd.read_table(filename, delimiter=',',names=defined_names)
data

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
1       1    85    66    29     0  26.6  0.351   31      0
2       8   183    64     0     0  23.3  0.672   32      1
3       1    89    66    23    94  28.1  0.167   21      0
4       0   137    40    35   168  43.1  2.288   33      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1
767     1    93    70    31     0  30.4  0.315   23      0

[768 rows x 9 columns]

In [ ]:
data.shape

In [ ]:
data